.autocomplete {
    width: 100%;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.search {
    position: absolute;
    margin-top: 50px;
    margin-left: 150px;
    height: 30px;
    width: 500px;    
    border: 1px solid;
    display: inline-block;
}

#suggetions {
    position: absolute;
    margin-top: 80px;
    margin-left: 150px;
    height: 100%;
    width: 500px;
    border-radius: 12px;
    border: 1px solid bisque;
    padding:5px;
    box-sizing: border-box;
}

.clear-search {
    margin-top:50px;
    border: 1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
}
#content {
    width: 100%;
    height: 30px;
    position: relative;
    cursor:pointer
}
.item {
    position: relative;
    width: 100%;
}
#content>a {
    text-decoration: none;
}
#content>a:hover {
    background-color: #e1ede4;
}

.close {
    float: right;
}